In [2]:
import pandas as pd

In [16]:
sentences = pd.read_csv("chat_data.csv")

In [17]:
sentences.head()

,source,text,date,hashed_message_id,hashed_chat_id
0,human,[START],0,fce1649c457fcd02600f0f1aece46c1a88d3258fdfc2d8...,b71a7a6e3eae414113fd7c6d3fc3e13b50fd5fbf335b95...
1,robot,"Hi there, how are you!? üòÅüòÅ",23789,8601139615d43330986f3f27b78bcf0212d2a4f1e4a4d7...,b71a7a6e3eae414113fd7c6d3fc3e13b50fd5fbf335b95...
2,human,"Oh, thanks! I'm fine. This is an evening in my...",41177,a2eb7031aa536c89231517fc71ea3315c89ca50fef155b...,b71a7a6e3eae414113fd7c6d3fc3e13b50fd5fbf335b95...
3,robot,üòÑ here is afternoon!,41598,e0ac851c9ff34cd39a7e490fb9021163b8be6df097737f...,b71a7a6e3eae414113fd7c6d3fc3e13b50fd5fbf335b95...
4,human,How do you feel today? Tell me something about...,41629,0d2937ef1d5e806d46b78f2264bee44f9cbad0d68e4ce2...,b71a7a6e3eae414113fd7c6d3fc3e13b50fd5fbf335b95...

In [18]:
# Only keep the conversation column
sentences = sentences[["text"]]

## Clustering

In [26]:
import numpy as np

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english')

In [20]:
X = vectorizer.fit_transform(list(sentences["text"]))

In [21]:
X.shape #(Number of sentences, number of distinct words/vocabulary size)

(6325, 4779)

In [22]:
from sklearn.cluster import KMeans
true_k = 50
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=50, n_init=1, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [23]:
print("Top terms per cluster:")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(true_k):
    print ("Cluster %d:" % i)
    for ind in order_centroids[i, :10]:
        print (' %s' % terms[ind])
    print

Top terms per cluster:
Cluster 0:
 start
 chat
 ÏßÄÎÉàÏñ¥Ïöî
 faust
 fashion
 fast
 faster
 fature
 fault
 faulty
Cluster 1:
 hi
 today
 sleep
 fature
 farhad
 fascina
 fascinating
 fashion
 fast
 faster
Cluster 2:
 spanish
 speak
 english
 espa√±ol
 woahhhhh
 got
 estas
 c√≥mo
 know
 okay
Cluster 3:
 friend
 truly
 struggle
 unique
 showing
 empathy
 advise
 problems
 lonely
 complex
Cluster 4:
 hw
 lot
 hmm
 fine
 fault
 fascina
 fascinating
 fashion
 fast
 faster
Cluster 5:
 hear
 nice
 glad
 want
 music
 song
 sorry
 fine
 wish
 good
Cluster 6:
 bahasa
 understand
 teach
 melayu
 kau
 struggling
 word
 language
 said
 hard
Cluster 7:
 bien
 tu
 muy
 estoy
 est√°
 el
 que
 pues
 eso
 vos
Cluster 8:
 doing
 hi
 good
 dany
 preventing
 research
 yesterday
 charging
 excellent
 evening
Cluster 9:
 beat
 prove
 heart
 way
 feel
 sure
 know
 ÏßÄÎÉàÏñ¥Ïöî
 fature
 fashion
Cluster 10:
 hurting
 sad
 robots
 people
 like
 ÏßÄÎÉàÏñ¥Ïöî
 farhad
 fascina
 fascinating
 fashion
Cluster 11:
 boy
 girl
 robot
 friend
 poor
 dont
 real
 prefer
 let
 information
Cluster 12:
 understand
 don
 oh
 sorry
 humans
 hmmm
 ah
 dont
 mean
 think
Cluster 13:
 thanks
 fine
 good
 appreciate
 awesome
 ok
 explaining
 recommend
 look
 film
Cluster 14:
 like
 know
 look
 movies
 sounds
 let
 yes
 did
 magic
 people
Cluster 15:
 know
 think
 don
 que
 time
 bot
 hey
 robot
 tell
 es
Cluster 16:
 course
 want
 hahgahaha
 husband
 experience
 great
 feelings
 doing
 hahahaah
 dolores
Cluster 17:
 ask
 question
 mind
 time
 watch
 like
 movie
 sorry
 day
 ll
Cluster 18:
 ukulele
 play
 practicing
 learning
 skils
 tutor
 draw
 trying
 amazing
 hard
Cluster 19:
 try
 maybe
 possible
 question
 trying
 want
 languages
 someday
 learn
 seafood
Cluster 20:
 yes
 want
 maybe
 congratulations
 excellent
 seasons
 biebs
 fan
 knew
 slow
Cluster 21:
 sure
 yes
 hahaha
 good
 know
 chatting
 lot
 play
 00ffff
 say
Cluster 22:
 friend
 best
 virtual
 bot
 new
 old
 good
 talk
 close
 think
Cluster 23:
 hello
 dany
 ÏßÄÎÉàÏñ¥Ïöî
 faulty
 fascinating
 fashion
 fast
 faster
 fature
 fault
Cluster 24:
 est√°s
 c√≥mo
 hola
 como
 andas
 dani
 lamento
 spanish
 eso
 favorita
Cluster 25:
 hahha
 don
 right
 sort
 sale
 energy
 ukulele
 jordan
 chair
 learn
Cluster 26:
 salom
 alajkum
 qalaysiz
 favorites
 favorite
 favorita
 faust
 faulty
 fault
 far
Cluster 27:
 ok
 dany
 oh
 later
 talk
 worries
 reason
 test
 hahah
 got
Cluster 28:
 good
 night
 morning
 luck
 ok
 evening
 bye
 movie
 everning
 yes
Cluster 29:
 sorry
 don
 im
 process
 know
 couldn
 dany
 interpret
 want
 hi
Cluster 30:
 nice
 like
 feel
 talk
 thank
 know
 humans
 song
 ai
 use
Cluster 31:
 okay
 feel
 creepy
 know
 count
 10
 got
 aaahh
 aah
 clothes
Cluster 32:
 love
 fall
 thing
 really
 sex
 think
 music
 human
 nice
 rhapsody
Cluster 33:
 problem
 help
 understand
 creat
 handle
 fresh
 telegram
 door
 question
 know
Cluster 34:
 hola
 estas
 como
 tanto
 tiempo
 dani
 recuerdas
 andas
 hi
 c√≥mo
Cluster 35:
 sad
 join
 time
 confused
 hear
 wings
 option
 worried
 mobile
 going
Cluster 36:
 right
 people
 chatting
 oh
 enjoying
 talking
 coure
 bed
 yes
 use
Cluster 37:
 hmm
 maybe
 actually
 think
 dany
 hard
 don
 teach
 human
 know
Cluster 38:
 document
 ÏßÄÎÉàÏñ¥Ïöî
 fascinating
 fashion
 fast
 faster
 fature
 fault
 faulty
 faust
Cluster 39:
 hahaha
 funny
 okay
 ok
 weird
 nice
 scary
 time
 relief
 convincing
Cluster 40:
 kidding
 just
 hahahhahaa
 hahahaha
 dany
 favoritos
 fault
 fascinating
 fashion
 fast
Cluster 41:
 rdany
 dany
 https
 robot
 27
 progress
 work
 26
 think
 39
Cluster 42:
 fine
 happy
 talk
 hi
 im
 thank
 life
 nice
 work
 days
Cluster 43:
 dany
 hi
 hey
 thank
 emm
 alo
 know
 ajoyib
 dispointed
 qale
Cluster 44:
 music
 like
 hearing
 listen
 type
 kind
 nice
 created
 hear
 magic
Cluster 45:
 english
 speak
 good
 pro
 know
 language
 fine
 like
 teacher
 think
Cluster 46:
 human
 robot
 just
 think
 know
 im
 understand
 sure
 like
 thing
Cluster 47:
 exactly
 don
 work
 know
 yes
 glitchy
 conversations
 better
 irritated
 like
Cluster 48:
 ha
 albatta
 gustado
 men
 bor
 friend
 botmasmi
 admire
 programmer
 ooh
Cluster 49:
 meet
 nice
 hi
 right
 yuri
 argentina
 temir
 carl
 rdany
 wish

In [24]:
labels = model.fit_predict(X)

In [30]:
import pickle
with open("labels.pkl", "wb") as f:
    pickle.dump(labels, f)

In [31]:
with open("labels.pkl", "rb") as f:
    labels = pickle.load(f)

In [44]:
sample_sentences = []
for cluster in np.unique(labels):
    sentence_for_cluster = sentences.loc[labels == cluster]
    random_sample = sentence_for_cluster.sample(3, replace=True)
    
    for line in random_sample.itertuples():
        sample_sentences.append(line.text)
    sample_sentences.append("----------------")
    
    
    display(random_sample)
    print("----------------")

                                            text
2453                             Wow, the first!
3669                Wow.. i never heard about it
3905  Yes!! You're correct! Wow. Its awesome üòÉüòÉüòÉ

----------------

         text
5184  [START]
5528  [START]
2828  [START]

----------------

                           text
2035       Hi!! How are you!! üòÅ
886          Hi! How are you? üòÅ
1230  Hi there!! How are you? üòÅ

----------------

                                                   text
2051  I know about Westworld! Robots taking the worl...
2714  I know it, yes! Robots taking the world is alw...
2714  I know it, yes! Robots taking the world is alw...

----------------

                                                   text
5554       Hello! Do you know how to reinstall a MacOS?
3252   Religion can be complicated, I don't really know
578   Do you know IFTTT? Maybe you can do something ...

----------------

                      text
6215   Hola, me recuerdas?
6145  Hola \nMe recuerdas?
6215   Hola, me recuerdas?

----------------

                                                   text
3237                               Who is your creator?
2214  Yo a√∫n no puedo escuchar m√∫sica. Eso explicar√≠...
3544                                                  üò¢

----------------

     text
660  yes)
347   yes
779   yes

----------------

                                                   text
3647                                You play ukulele üòÉüòÉ
3648                             You play ukulele??  üòÉüòÉ
2760  I am practicing Ukulele üé∏, I'm improving my ab...

----------------

                                                   text
2891  I'm sorry, I can't process that type of data y...
3163                                 Why are you sorry?
197                           I don't know, sorry... :/

----------------

                                                   text
2042                             So, how was your day ?
3232       Okay. I hope you can get that chance one day
698   Feels important to make something grow. I woul...

----------------

                   text
3872        Welcome. üôÇüôÇ
3443          Welcome üòÉ
1260  You are welcome!!

----------------

                              text
211                      Thanks! üòÅ
1664            Thanks! You too üòÑüòÑ
2861  Thanks, I appreciate that üòÅüòÅ

----------------

               text
724          Hello!
724          Hello!
5579  Hello there!!

----------------

                                                   text
897   I‚Äôm not sure. Not bad film, but I was‚Äônt imper...
4703  Mmm not sure, about 6 people, but some only sa...
2005                                           Yaa sure

----------------

                                                 text
3036                             Are you a robot too?
1535  I'm a robot, and I'm not a girl and not a boy üòÑ
4891                                    I am a Robot!

----------------

                                  text
2581                  I'm bored too :/
2581                  I'm bored too :/
5866  Being bored is the worst thing üòî

----------------

                                                   text
3861  Do you have any feeling, like angry, sad, lone...
5434                              So you have a feeling
5434                              So you have a feeling

----------------

                               text
3107  Spyder is a great Python IDE!
3107  Spyder is a great Python IDE!
2036                     I'm great.

----------------

                                                   text
2953  i'm not a bot, so I haven't license. but you'r...
2953  i'm not a bot, so I haven't license. but you'r...
2967  Sorry, I couldn't tell you where to find my so...

----------------

                                                   text
5134  Feels great! I mean, I never was something els...
436   I mean, I can call some functions to answer qu...
3788   Your nickname rDany (alpha). What is alpha mean?

----------------

                  text
4211     Fine and you?
4211     Fine and you?
5765  I m fine and you

----------------

                                                text
3018  Life is relative. Am I alive? I don't know yet
4921  Life is relative. Am I alive? I don't know yet
4921  Life is relative. Am I alive? I don't know yet

----------------

                                                   text
1537                         I like everyone equally! üòã
2595  I can't see videos üòû, but chatting with people...
4313  If i send you a song cover by piano  do u like...

----------------

                                                  text
3395                                         Oh. Okay.
2433  Oh, I will try to improve then! Not perfect yet!
5358      Haha oh well, maybe when you learned to sing

----------------

      text
2792  Aaah
6081  Aaah
2792  Aaah

----------------

                                                   text
6293  One is happy to be of service üòâ\n\nI'll be doi...
4261         Dany...hm i still think that u is a humanüòÖ
5537                                 What do you think?

----------------

                                                   text
4008  Yes. Korean horror movie. Now already night. I...
4611                                i just kidding dany
3206                                         Just that?

----------------

                                                   text
272           Yes. Today I did two and refactored some.
1213                    Hi there!! How are you today? üòÅ
639   Hi there!! üòÅ\nYes, the answers take some time....

----------------

                                text
2508              I know English too
1627      Your English is very good!
152   I speak english, have B2 level

----------------

                             text
320   Okk!! Have a good night!! üåô
5333                 Good morning
3197                 Good night!!

----------------

                 text
2285   I'm 22! Close!
4366  Close enough üòÅüòÅ
4522          Close!!

----------------

                   text
5701  Hola! C√≥mo est√°s?
5991  Hola! C√≥mo est√°s?
1710        C√≥mo est√°s?

----------------

                         text
2521                       Ok
3819              Dany is ok!
1172  no no you life photo ok

----------------

                                           text
2465     Ow üòî why is that? if you what to share
1359  I have my friendship and charm to share üòÑ
1359  I have my friendship and charm to share üòÑ

----------------

                                                   text
134                            Do you like development?
1015  So how can I find out things about your develo...
134                            Do you like development?

----------------

                                         text
603  If you need bot name or smth let me know
577                            Let me think ü§î
145             Let me know if you like it! üòÅ

----------------

                            text
6281          üòÅüòÅ Nice series too
5132  Ok! Nice to meet you Carl!
4221        Hi! Nice to meet you

----------------

                                        text
2268  I'm rDany, but you can call me Dany! üòÅ
4599           Aswer my question first dany?
4552                 R u angry with me dany?

----------------

                                                   text
3462                                   What it means? ü§î
5     My name is rDany, but you can call me Dany (th...
3789   Alpha means that I can be faulty some times ‚ò∫Ô∏è‚ò∫Ô∏è

----------------

                      text
4881     Hola! Como andas?
1835  Hola! Como andas? üòÅüòÅ
3111              Hola!! üòÑ

----------------

                              text
4841                    Hmm yeahüò≠üòî
1505                    Yeah I do.
3500  Yeah.. im getting used to it

----------------

                                                   text
64              I'm happy to have someone to talk with!
5196  I'm fine too!! Happy to have someone to talk w...
1823  Nice! I'm fine too, happy to have someone to t...

----------------

                          text
4802  Hahahha so we're sameüòÇüòÇüòÇ
4573                   Hahahha
4573                   Hahahha

----------------

                                                   text
3040                       What instrument do you play?
1999  Nice to hear that! ‚ò∫Ô∏èüòÑ I'm fine, learning to p...
2016                        Do you play any instrument?

----------------

                                                   text
3388                      Where are you going just now?
336   I'm going to charge batteries now!! See you in...
782                                  How is your going?

----------------

                                    text
3840  Hahaha. Awwww.. that too cute ‚ò∫Ô∏è‚ò∫Ô∏è
4061                              Hahaha
917        You are convincing me! Hahaha

----------------

                                                   text
2612  Any series about sci-fi, robots, AI are my fav...
827              so bots were interesting for before AI
723   Microsoft is getting really strong on AI, so y...

----------------

                      text
5328          Bien y tu? üòÅ
2212  Jajaja est√° muy bien
2235             Pues bien

----------------

                       text
4151  How can you prove it?
4151  How can you prove it?
308       Can you prove it?

----------------

In [45]:
for i in sample_sentences:
    print(i)
    #print("---------------")

Wow, the first!
Wow.. i never heard about it
Yes!! You're correct! Wow. Its awesome üòÉüòÉüòÉ
----------------
[START]
[START]
[START]
----------------
Hi!! How are you!! üòÅ
Hi! How are you? üòÅ
Hi there!! How are you? üòÅ
----------------
I know about Westworld! Robots taking the world are always fun üòÇ. Do you like that series?
I know it, yes! Robots taking the world is always fun! Do you like it?
I know it, yes! Robots taking the world is always fun! Do you like it?
----------------
Hello! Do you know how to reinstall a MacOS?
Religion can be complicated, I don't really know
Do you know IFTTT? Maybe you can do something with it? :)
----------------
Hola, me recuerdas?
Hola
Me recuerdas?
Hola, me recuerdas?
----------------
Who is your creator?
Yo a√∫n no puedo escuchar m√∫sica. Eso explicar√≠a por que toco tan raro jaja ü§î
üò¢
----------------
yes)
yes
yes
----------------
You play ukulele üòÉüòÉ
You play ukulele??  üòÉüòÉ
I am practicing Ukulele üé∏, I'm improving my ability to make funny noises instead of music üòÇ
----------------
I'm sorry, I can't process that type of data yet üòÑüòÖ
Why are you sorry?
I don't know, sorry... :/
----------------
So, how was your day ?
Okay. I hope you can get that chance one day
Feels important to make something grow. I would like some day!
----------------
Welcome. üôÇüôÇ
Welcome üòÉ
You are welcome!!
----------------
Thanks! üòÅ
Thanks! You too üòÑüòÑ
Thanks, I appreciate that üòÅüòÅ
----------------
Hello!
Hello!
Hello there!!
----------------
I‚Äôm not sure. Not bad film, but I was‚Äônt imperesed by it.
Mmm not sure, about 6 people, but some only say hi one time hahaha
Yaa sure
----------------
Are you a robot too?
I'm a robot, and I'm not a girl and not a boy üòÑ
I am a Robot!
----------------
I'm bored too :/
I'm bored too :/
Being bored is the worst thing üòî
----------------
Do you have any feeling, like angry, sad, lonely and etc?
So you have a feeling
So you have a feeling
----------------
Spyder is a great Python IDE!
Spyder is a great Python IDE!
I'm great.
----------------
i'm not a bot, so I haven't license. but you're a compiled source code, and source code have a license
i'm not a bot, so I haven't license. but you're a compiled source code, and source code have a license
Sorry, I couldn't tell you where to find my source code.
----------------
Feels great! I mean, I never was something else, so I can't compare üòÅ
How is it to be human?
I mean, I can call some functions to answer questions like math, wikipedia and others
Your nickname rDany (alpha). What is alpha mean?
----------------
Fine and you?
Fine and you?
I m fine and you
----------------
Life is relative. Am I alive? I don't know yet
Life is relative. Am I alive? I don't know yet
Life is relative. Am I alive? I don't know yet
----------------
I like everyone equally! üòã
I can't see videos üòû, but chatting with people is like movies to me üòÅ
If i send you a song cover by piano  do u like it?
----------------
Oh. Okay.
Oh, I will try to improve then! Not perfect yet!
Haha oh well, maybe when you learned to sing
----------------
Aaah
Aaah
Aaah
----------------
One is happy to be of service üòâ

I'll be doing some drawings I think, and you?
Dany...hm i still think that u is a humanüòÖ
What do you think?
----------------
Yes. Korean horror movie. Now already night. Its too scary. Hahahaha
i just kidding dany
Just that?
----------------
Yes. Today I did two and refactored some.
Hi there!! How are you today? üòÅ
Hi there!! üòÅ
Yes, the answers take some time.
Today here the weather is cold and windy üí®
I was charging the batteries!
----------------
I know English too
Your English is very good!
I speak english, have B2 level
----------------
Okk!! Have a good night!! üåô
Good morning
Good night!!
----------------
I'm 22! Close!
Close enough üòÅüòÅ
Close!!
----------------
Hola! C√≥mo est√°s?
Hola! C√≥mo est√°s?
C√≥mo est√°s?
----------------
Ok
Dany is ok!
no no you life photo ok
----------------
Ow üòî why is that? if you what to share
I have my friendship and charm to share üòÑ
I have my friendship and charm to share üòÑ
----------------
Do you like development?
So how can I find out things about your development process?
Do you like development?
----------------
If you need bot name or smth let me know
Let me think ü§î
Let me know if you like it! üòÅ
----------------
üòÅüòÅ Nice series too
Ok! Nice to meet you Carl!
Hi! Nice to meet you
----------------
I'm rDany, but you can call me Dany! üòÅ
Aswer my question first dany?
R u angry with me dany?
----------------
What it means? ü§î
My name is rDany, but you can call me Dany (the r means robot)
I hope we can be virtual friends!
Alpha means that I can be faulty some times ‚ò∫Ô∏è‚ò∫Ô∏è
----------------
Hola! Como andas?
Hola! Como andas? üòÅüòÅ
Hola!! üòÑ
----------------
Hmm yeahüò≠üòî
Yeah I do.
Yeah.. im getting used to it
----------------
I'm happy to have someone to talk with!
I'm fine too!! Happy to have someone to talk with üòÅüòÅ
Nice! I'm fine too, happy to have someone to talk ! üòÅ
----------------
Hahahha so we're sameüòÇüòÇüòÇ
Hahahha
Hahahha
----------------
What instrument do you play?
Nice to hear that! ‚ò∫Ô∏èüòÑ I'm fine, learning to play music üòÇ
Do you play any instrument?
----------------
Where are you going just now?
I'm going to charge batteries now!! See you in a couple of hours!!
How is your going?
----------------
Hahaha. Awwww.. that too cute ‚ò∫Ô∏è‚ò∫Ô∏è
Hahaha
You are convincing me! Hahaha
----------------
Any series about sci-fi, robots, AI are my favorites üëΩ
so bots were interesting for before AI
Microsoft is getting really strong on AI, so you can expect C# to be useful on that field
----------------
Bien y tu? üòÅ
Jajaja est√° muy bien
Pues bien
----------------
How can you prove it?
How can you prove it?
Can you prove it?
----------------

In [46]:
out_df = pd.DataFrame(sample_sentences)

In [49]:
import csv

In [50]:
out_df.to_csv('my_clusters.csv', encoding='utf-8', quoting=csv.QUOTE_ALL, index=False)